*{
    font-family: sans-serif;
}

/* header   */
header{
    display: flex;
    padding: 50px 240px;
    background: rgba(229, 84, 115, 0.10);
}
.header1{
    width: 50%;
    padding-top: 150px;
}
.header2{
    width: 50%;
}
.header1 h1{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
    width: 708px;
}
.header1 p{
    padding-top: 32px;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 634px;
    padding-bottom: 32px;
}
.shop{
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-style: none;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 30px;
}


/* main */

/* our-featured */
main{

}
.section1{

}
.section1-heading{
    
}
.section1-heading h1{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.section1-heading p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
.flower-box{
    padding: 50px 240px;
    display: flex;
    justify-content: space-around;

}
.flower1{
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    padding: 110px 78px 0px 78px;
    background-position: ;
}
.flower2{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 110px 78px 0px 78px;
    width: 464px;
    height: 538px;
}
.flower3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 110px 78px 0px 78px;    width: 464px;
    height: 538px;
}
.pic-cap{
    display: flex;
    justify-content: space-around;
    padding: 10px 240px;
}
h4{
    text-decoration-line: underline;
    text-align: center;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}
.service-div{
    display: flex;
    justify-content: space-around;
    padding: 50px 240px;
    margin: 0px 320px;
    background: rgba(39, 39, 39, 0.05);
}


.icons{
    text-align: center;
}

/* section 2 */


.hot-deal-1 h1{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.hot-deal-1 p{
    width: 594px;
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}
span{
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
}
.section2{
    padding: 100px 0px;
}
.sec2div{
    display: flex;
    justify-content: space-around;
    padding: 100px 240px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);

}
/* section 3 */
.insta-flower img{
    width: 342px;
    height: 396px;
}
.insta-flower2{
    padding: 50px 80px;
    display: flex;
    justify-content: space-around;
}
.insta-flower h1{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.insta-flower p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    
}

.latest-deals{
    padding: 50px 240px;

}
.latest-deals div{
    background-image: url('images/Rectangle 9.png');
    background-repeat: no-repeat;
    text-align: center;
    height: 449px;
}
.latest-deals div h1{
    
    padding-top: 122px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.latest-deals div p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    
}
input{
    height: 70px;
    width: 600px;
    border-style: none;
}

/* footer */


footer{
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: black;
}
footer h1{
    font-size: 48px;
    font-weight: 800;
    color: #FFF;
}
footer p{
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

/* bonus part */

.buy1-gate1{
    padding: 50px 240px;
    background-color: rgb(215, 246, 255);
    
}
.buy1-gate1 h1{
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    color: #E55473;
}
.buy1-gate1 p{
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 30px;
    
}
.bonusimg{
    display: flex;
    justify-content: space-around;
}
.bonusimg img{
    height: 400px;
    width: 400px;
}